img {max-width: 100%;}


body {
      margin-left: auto;
      margin-right: auto;
      width: 50%;

       background-image: url(Mapa\ GB.jpg);
       background-repeat: no-repeat;
       background-size: 100%;
       color: rgb(0, 110, 255);
       overflow-x: hidden;
    
      

       flex-wrap: wrap;
       flex-direction: column;
}
img{
      border-radius: 50px;



}
  